/* ._desktop{
    display: block;
}

._mobile{
    display: none;
} */

body{
    margin: 0;
    width: 100%;
    background-color: black;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar{
    left: 0px;
    top: 0px;
    width:100%;

    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    z-index: 4;
    background-color:black;
    font-size: 14px;
    /* font-family:"SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace; */
    font-family: poppins;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.barcode-img{
    padding-top: 10px;
}
.menu li{
    padding: 20px;
}
.logo{
    height:50px;
    z-index: 3;
}
.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.menu li a{
    color: #ffffffcc;
}
.contact-me{
    color: #46a0f5;
    z-index: 3;
}

.menu li a:hover{
    color: rgb(100, 255, 218);
    transition: all ease 0.5s;
}
.contact-me:hover{
    color: rgb(100, 255, 218);
    transition: all ease 0.5s;
}

.container{
    color: rgb(136, 146, 176);
}

.colored-text{
    color: rgb(100, 255, 218);;
}
/* Home Section */
.home{
    padding-top: 80px;
    padding-bottom: 100px;
} 

.text-container-home >div{
    margin-bottom: 20px;
}
.name-text{
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-size: 61.376px;
    font-weight: 650;
    line-height: 67.5136px;
}

.main-text{
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-size: 61.376px;
    font-weight: 640;
    line-height: 55.2384px;
}

.start-text{
    font-family:"SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace ;
    font-weight: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 17.6px;
    color: rgb(100, 255, 218);
}

.para-text{
    font-family:Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-weight: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 40px;
    max-width: 540px;

}

.talk-btn{
    border-color:rgb(100, 255, 218);
    color:  rgb(100, 255, 218);
    margin-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
    transition: 0.3s;
}

.talk-btn:hover{
    transform: translate(0, -5px);
    border-color:rgb(100, 255, 218);
}

/* Donut */
.donut{
    overflow:hidden;
}
/* About Me Section */
.about-me{
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-head{
    font-size:40px;
    font-weight: 500;
    line-height: 44px;
    color: white;
    text-align: center;
    margin-bottom: 75px;
}

.about-info{
    /* max-width: 800px; */
    margin-right: 100px;
    font-size: 18px;
}

.pro-pic{
    width: 350px;
    height: 320px;
    object-fit: cover;
    padding-right: 50px;
    /* border: 3px solid rgb(100, 255, 218); */
  }

  /* Education */
  .education{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .edu-head{
    font-size:40px;
    font-weight: 500;
    line-height: 44px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }

  .edu-info{
    padding-bottom: 40px;
    font-size: 20px;
  }

  ul >li{
    padding-bottom: 5px;
  }

  .subject-info{
    text-align: left;
    padding-left: 150px;
  }

.school-head{
    padding-bottom: 10px;
  }
.edu-subtext{
    text-align: left;
    padding-left: 150px;
}
  /* My skills */
  .skills{
    padding-top: 100px;
    padding-bottom: 100px;
  }

.skills-head{
    font-size:40px;
    font-weight: 500;
    line-height: 44px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.skills-subhead{
    text-align: center;
    padding-bottom: 50px;
    font-family:Clarkson, Helvetica, sans-serif;
}


.text-container{
    font-size: 18px;
    font-weight: 400;
    line-height: 16.9px;
    padding-bottom: 30px;
    text-align: center;
    margin:auto;
    font-family:  "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    transition: 0.3s;
}

.text-container:hover{
    transform: translate(0, -10px);
}

.text-container >img{
    margin-top: 50px;
}

.skills-logo{    
    height: 100px;
    margin-bottom: 30px;
    width: 100px;
    
}

.logo-container .text-container{
    padding:20px 20px;
}


/* Projects */
.projects{
    padding-top: 100px;
    padding-bottom: 150px;
}

.projects-head{
    font-size:40px;
    font-weight: 500;
    line-height: 44px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

.home .text-container{
    text-align: left;
}

.proj-img-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    padding-top: 35px;
}

/* Volunteering */

.volunteering{
    padding-top: 150px;
    padding-bottom: 100px;
}

.volunteering-head{
    font-size:40px;
    font-weight: 500;
    line-height: 44px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.volunteering-subhead{
    text-align: center;
    padding-bottom: 50px;
    font-family:Clarkson, Helvetica, sans-serif;
}

.v-head{
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 35.2px;
    color: rgb(204, 214, 246);
    margin-top: 50px;
    margin-bottom: 45px;
    text-align: center;
}

.v-imgs{
    margin-bottom:20px;
    border-radius: 15px;
}
.v-logos{
    padding-right: 50px;
}
.img-iot{
    padding-left: 60px;
}

.v-info-container{
    margin-bottom: 50px;
}

.v-description{
    padding-top: 50px;
    font-family: poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.v-description-extrawork{
    padding-top: 60px;
    padding-bottom: 50px;
    font-family: poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.key-points{
    padding-bottom: 5px;
    font-family: poppins;
}

/* contact me */

.contact{
    padding-bottom: 100px;
}

.contact-head{
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 66px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.contact-desc{
    text-align: center;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 33.6px;
    font-weight: 500;
    padding-left: 250px;
    padding-right: 250px;
}

.contact-menu{
    text-align: center;
    padding-top: 50px;
}

.contact-fontawe{
    text-decoration: none;
    color: white;
    list-style-type: none;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
}

.contact-fontawe:hover{
    color: rgb(100, 255, 218);
    transition-delay: 0.2s;
    transform: translate(0, -8px);
}

.mail{
    font-size: 16px;
    font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}
